body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-3hk61Ga2MhnNrFr4-uzRWJCXM07dLz8X9pn4uy5zXmOQ3YbmpXkSuKAFXtJbjtYRqAs&usqp=CAU) ;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
